.sub-sub-heading {
    background-color: var(--accent-color);
    padding: 0.1rem 0 0.1rem 0.4rem;
    color: white;
    border-radius: 0.25rem;
}

.img-1, .img-2, .img-3, .img-4, .img-5, .img-6, .img-7, .img-8, .img-9, .img-10, .img-11, .img-12, .img-13, .img-14, .img-15, .img-16, .img-17, .img-18, .img-19, .img-20, .img-21, .img-22, .img-23, .img-24, .img-25, .img-26, .img-27, .img-28, .img-29, .img-30, .img-31, .img-32, .img-33, .img-34, .img-35, .img-36 {
    aspect-ratio: 1.5;
    width: 100%;
    background-position: center;
    border: 1px solid var(--accent-color);
    border-radius: 1rem;
}

.img-1 {
    background-image: url('/assets/services/graphic-design/logo-design/1.jpg');
}

.img-2 {
    background-image: url('/assets/services/graphic-design/logo-design/2.jpg');
}

.img-3 {
    background-image: url('/assets/services/graphic-design/logo-design/3.jpg');
}

.img-4 {
    background-image: url('/assets/services/graphic-design/logo-design/4.jpg');
}

.img-5 {
    background-image: url('/assets/services/graphic-design/logo-design/5.jpg');
}

.img-6 {
    background-image: url('/assets/services/graphic-design/logo-design/6.jpg');
}

.img-7 {
    background-image: url('/assets/services/graphic-design/logo-design/7.jpg');
}

.img-8 {
    background-image: url('/assets/services/graphic-design/logo-design/8.jpg');
}

.img-9 {
    background-image: url('/assets/services/graphic-design/logo-design/9.jpg');
}

.img-10 {
    background-image: url('/assets/services/graphic-design/logo-design/10.jpg');
}

.img-11 {
    background-image: url('/assets/services/graphic-design/logo-design/11.jpg');
}

.img-12 {
    background-image: url('/assets/services/graphic-design/logo-design/12.jpg');
}

.img-13 {
    background-image: url('/assets/services/graphic-design/logo-design/13.jpg');
}

.img-14 {
    background-image: url('/assets/services/graphic-design/logo-design/14.jpg');
}

.img-15 {
    background-image: url('/assets/services/graphic-design/logo-design/15.jpg');
}

.img-16 {
    background-image: url('/assets/services/graphic-design/logo-design/16.jpg');
}

.img-17 {
    background-image: url('/assets/services/graphic-design/logo-design/17.jpg');
}

.img-18 {
    background-image: url('/assets/services/graphic-design/logo-design/18.jpg');
}

.img-19 {
    background-image: url('/assets/services/graphic-design/logo-design/19.jpg');
}

.img-20 {
    background-image: url('/assets/services/graphic-design/logo-design/20.jpg');
}

.img-21 {
    background-image: url('/assets/services/graphic-design/logo-design/21.jpg');
}

.img-22 {
    background-image: url('/assets/services/graphic-design/logo-design/22.jpg');
}

.img-23 {
    background-image: url('/assets/services/graphic-design/logo-design/23.jpg');
}

.img-24 {
    background-image: url('/assets/services/graphic-design/logo-design/24.jpg');
}

.img-25 {
    background-image: url('/assets/services/graphic-design/logo-design/25.jpg');
}

.img-26 {
    background-image: url('/assets/services/graphic-design/logo-design/26.jpg');
}

.img-27 {
    background-image: url('/assets/services/graphic-design/logo-design/27.jpg');
}

.img-28 {
    background-image: url('/assets/services/graphic-design/logo-design/28.jpg');
}

.img-29 {
    background-image: url('/assets/services/graphic-design/logo-design/29.jpg');
}

.img-30 {
    background-image: url('/assets/services/graphic-design/logo-design/30.jpg');
}

.img-31 {
    background-image: url('/assets/services/graphic-design/logo-design/31.jpg');
}

.img-32 {
    background-image: url('/assets/services/graphic-design/logo-design/32.jpg');
}

.img-33 {
    background-image: url('/assets/services/graphic-design/logo-design/33.jpg');
}

.img-34 {
    background-image: url('/assets/services/graphic-design/logo-design/34.jpg');
}

.img-35 {
    background-image: url('/assets/services/graphic-design/logo-design/35.jpg');
}

.img-36 {
    background-image: url('/assets/services/graphic-design/logo-design/36.jpg');
}